@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex-box {
  display: flex;
  align-items: center;
}

.to-center {
  text-align: center;
}

.mt {
  margin-top: 10px;
}

.mr {
  margin-right: 10px;
}

.ant-pagination {
  text-align: center;
  padding: 12px 0;
  margin-top: 16px;
}